:root {
    --cor-de-ciminha: #000;
    --cor-back: #14213D;
    --cor-bordinha: #FCAC11;
    --cor-texto: #E5E5E5;
    --cor-baixo: rgb(17, 17, 17);
    --cor-footer: #969696;
}

html {
    background-color: var(--cor-back);
}

.container {
    background-color: var(--cor-de-ciminha);
    display: flex;
    padding: 2px;
    align-items: center;
    flex-wrap: wrap;
}

header a img {
    max-width: 200px; 
    max-height: 200px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
    color: var(--cor-texto);
    text-align: center;
}

body div ul li strong {
    font-size: 3rem;
    color: var(--cor-texto);
}

body div ul li, h3 {
    font-size: 1.8rem;
    margin-top: 3px;
    color: var(--cor-texto);
}

strong, h3, li {
    list-style: none;
    text-align: center;
}

ul{
    border: 8px double var(--cor-bordinha);
    border-radius: 30px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor-baixo);
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
}